<h1>Tweets#edit</h1>
<p>Find me in app/views/tweets/edit.html.erb</p>

<%= form_for @tweet do |f| %>
  <%= f.label :kpop %>
  <%= f.text_field :kpop, :size => 140 %> 
  <%= f.submit "編集する" %>
<% end %>